.changepassword {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    font: "Roboto", "Poppins", "sans serif";
    background-color: #fbf8f8;
}

.changepassword-form {
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 -0.8px 1.4px rgba(0, 0, 0, 0.017), 0 -1.7px 3.1px rgba(0, 0, 0, 0.024), 0 -2.1px 5.4px rgba(0, 0, 0, 0.029), 0 -1.5px 8.6px rgba(0, 0, 0, 0.033), 0 1.3px 13.3px rgba(0, 0, 0, 0.038), 0 7.9px 20.8px rgba(0, 0, 0, 0.044), 0 21.9px 34.5px rgba(0, 0, 0, 0.052), 0 53px 69px rgba(0, 0, 0, 0.07);
    min-width: 400px;
    max-width: 700px;
    max-height: 700px;
    min-height: 300px;
}

.changepassword-input {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.changepassword-input-button-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.changepassword-input-button-text>h3 {
    font-size: 11px;
    color: #9c9c9c;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin-left: 20px;
    margin-top: 14px;
}

.changepassword-input-link {
    color: #5995fd !important;
    text-decoration: none !important;
    font-size: 11px;
}

.changepassword-input-button-text>button {
    background-color: hsl(222, 100%, 95%);
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    width: 60px;
    height: 40px;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.1s ease-in-out;
}

.changepassword-input-button-text>button>p {
    font-size: 11px;
    color: #000;
}

.changepassword-input-field-text {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-left: 17px;
}

.changepassword-input-field-text>p {
    font-size: 15px;
}

.changepassword-input-field {
    display: grid;
    grid-template-columns: 12% 88%;
    width: 100%;
    height: 55px;
    background-color: #f0efef;
    border-radius: 30px;
    align-items: center;
    border: 1px solid rgb(17, 17, 19);
}

.changepassword-input-field>input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    padding: 4px;
}

.changepassword-input-icons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}